@charset "utf-8";
@use "site" as us;

$background: #000;
$font-color: #ddd;

$pc: 1617px; //PC
$tb: 1024px; //タブレット
$sp: 768px;  //SP
$pc-font-family: us.$font-jpg-1; //PC 外側の余白
$tb-font-family: us.$font-jpg-2; //タブレット 外側の余白
$sp-font-family: us.$font-jpg-2; //SP 外側の余白
$pc-font-size: 16px; //PC 外側の余白
$tb-font-size: 14px; //タブレット 外側の余白
$sp-font-size: 14px; //SP 外側の余白
$pc-letter-spacing: .05rem;//PC 外側の余白
$tb-letter-spacing: .05rem;//タブレット 外側の余白
$sp-letter-spacing: .05rem;//PC 外側の余白
$pc-line-height: 1.8;//PC 外側の余白
$tb-line-height: 2;//タブレット 外側の余白
$sp-line-height: 2;//PC 外側の余白
$pc-gutter: 100px; //PC 外側の余白
$tb-gutter: 50px; //タブレット 外側の余白
$sp-gutter: 20px; //SP 外側の余白

$hover-1:(opacity: .65, transition: opacity .3s);

// フォントの設定
//PC
@media screen and (min-width: $tb + 1px) {

  body,
  input,
  textarea,
  select {
    @include us.fontSettings_01($pc-font-family, $pc-font-size, $font-color, $pc-letter-spacing, $tb-line-height);
  }
}

//タッチができるデバイス
@media (hover: none) {

  body,
  input,
  textarea,
  select {
    @include us.fontSettings_01($tb-font-family, $pc-font-size, $font-color, $tb-letter-spacing, $tb-line-height);
  }
}

//タブレット
@media screen and (max-width: $tb) and (min-width: $sp + 1px) {

  body,
  input,
  textarea,
  select {
    @include us.fontSettings_01($tb-font-family, $tb-font-size, $font-color, $tb-letter-spacing, $tb-line-height);
  }
}

//SP
@media screen and (max-width: $sp) {

  body,
  input,
  textarea,
  select {
    @include us.fontSettings_01($tb-font-family, $sp-font-size, $font-color, $sp-letter-spacing, $sp-line-height);
  }
}



html {
  background: $background;
}

body {
  background: $background;
  counter-reset: section 0;
  line-height: normal;
  overflow-x: hidden;
  transition: opacity 1s;
}

body.loading {
  opacity: 0;
}



/**
 * .section--01
 */

.section--01 {
  //border-top: 1px solid rgba(255, 255, 255, .1);
  padding: 200px 0;

  & + & {
    margin-top: 200px;
  }

  .section-number {
    position: relative;
    top: -100px;
    z-index: 2;

    &:before {
      color: #fff;
      counter-increment: section 1;
      content: '_'counter(section, decimal-leading-zero);
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      font-weight: 900;
      left: 6vw;
      line-height: 1;
      padding: 0;
      position: absolute;
      top: 0;
      z-index: 2;
    }
  }

  img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
  }

  .section-pcImage {
    display: block;
  }

  .section-spImage {
    display: none;
  }

  .section-wrap {
    margin: 0 auto;
    width: min(100vw, 1000px);
  }

  .section-headr {
  }

  .section-contents {

    .section-item {

      & + .section-item {
        margin-top: 40px;
      }
    }
  }

  .section-footer {
  }
}



/**
 * .title--01
 */

.title--01 {

  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
}



/**
 * .sentence--01
 */

.sentence--01 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.6;

  &.sentence_fs_l {
    font-size: 28px;
    line-height: 1.2;
  }

  p {

    & + p {
      margin-top: 28px;
    }
  }
}



/**
 * #section-1 .gridView
 */

#section-1 {

  .gridView {

    &-wrap {
    }
  
    &-contents {
      display: flex;
      flex-flow: row wrap;
      margin: 0 0 -40vw -16vw;
      width: calc(100% + 16vw);
  
      & > * {
      }

      & > *:nth-child(3n + 1),
      & > *:nth-child(3n + 2),
      & > *:nth-child(3n + 3) {
        //border: 1px solid red;
        transform: translate(4vw, 0);
      }

      & > *:nth-child(6n + 1),
      & > *:nth-child(6n + 2),
      & > *:nth-child(6n + 3) {
        //border: 1px solid blue;
        transform: translate(-4vw, 0);
      }
    }
  
    &-item {
      margin: 0 0 40vw 16vw;
      width: calc(33.33% - 16vw);
    }
  }
}
