@charset "UTF-8";
/*/////////////////////////////////////////
スタイルリセット
/////////////////////////////////////////*/
html, body, div, span, applet, object, iframe, input, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  border: 0 none;
  font-size: 100%; /*font-weight: normal;*/
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ol, ul {
  list-style: none outside none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

/*transformを使うと Chromeで部分的に antialiasedが効かない*/
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

*, :before, :after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  border: none;
  -ms-interpolation-mode: bicubic;
  outline: none;
  vertical-align: bottom;
}

button, input, textarea, select {
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
}

input {
  -webkit-appearance: none;
}

input::-moz-focus-inner, button::-moz-focus-inner {
  border: none;
  outline: none;
}

textarea {
  -webkit-appearance: none;
}

a, a.hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

br {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

/* IE11 コンテンツ領域とスクロールバーの重なりを回避 */
html {
  -ms-overflow-style: scrollbar !important;
}

.mgn_t0 {
  margin-top: 0px;
}

.mgn_t5 {
  margin-top: 5px;
}

.mgn_t10 {
  margin-top: 10px;
}

.mgn_t15 {
  margin-top: 15px;
}

.mgn_t20 {
  margin-top: 20px;
}

.mgn_t25 {
  margin-top: 25px;
}

.mgn_t30 {
  margin-top: 30px;
}

.mgn_t35 {
  margin-top: 35px;
}

.mgn_t40 {
  margin-top: 40px;
}

.mgn_t45 {
  margin-top: 45px;
}

.mgn_t50 {
  margin-top: 50px;
}

.pdg_t0 {
  padding-top: 0px;
}

.pdg_t5 {
  padding-top: 5px;
}

.pdg_t10 {
  padding-top: 10px;
}

.pdg_t15 {
  padding-top: 15px;
}

.pdg_t20 {
  padding-top: 20px;
}

.pdg_t25 {
  padding-top: 25px;
}

.pdg_t30 {
  padding-top: 30px;
}

.pdg_t35 {
  padding-top: 35px;
}

.pdg_t40 {
  padding-top: 40px;
}

.pdg_t45 {
  padding-top: 45px;
}

.pdg_t50 {
  padding-top: 50px;
}

@media screen and (min-width: 1025px) {
  body,
  input,
  textarea,
  select {
    color: #ddd;
    font-family: 游ゴシック体, YuGothic, 游ゴシック, Yu Gothic, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Hiragino Sans, メイリオ, Meiryo, sans-serif;
    font-feature-settings: "palt";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.05rem;
    line-height: 2;
    -webkit-text-size-adjust: 100%;
  }
}
@media (hover: none) {
  body,
  input,
  textarea,
  select {
    color: #ddd;
    font-family: Noto Sans JP, sans-serif;
    font-feature-settings: "palt";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 2;
    -webkit-text-size-adjust: 100%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  body,
  input,
  textarea,
  select {
    color: #ddd;
    font-family: Noto Sans JP, sans-serif;
    font-feature-settings: "palt";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 2;
    -webkit-text-size-adjust: 100%;
  }
}
@media screen and (max-width: 768px) {
  body,
  input,
  textarea,
  select {
    color: #ddd;
    font-family: Noto Sans JP, sans-serif;
    font-feature-settings: "palt";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 2;
    -webkit-text-size-adjust: 100%;
  }
}
html {
  background: #000;
}

body {
  background: #000;
  counter-reset: section 0;
  line-height: normal;
  overflow-x: hidden;
  transition: opacity 1s;
}

body.loading {
  opacity: 0;
}

/**
 * .section--01
 */
.section--01 {
  padding: 200px 0;
}
.section--01 + .section--01 {
  margin-top: 200px;
}
.section--01 .section-number {
  position: relative;
  top: -100px;
  z-index: 2;
}
.section--01 .section-number:before {
  color: #fff;
  counter-increment: section 1;
  content: "_" counter(section, decimal-leading-zero);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 900;
  left: 6vw;
  line-height: 1;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}
.section--01 img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
.section--01 .section-pcImage {
  display: block;
}
.section--01 .section-spImage {
  display: none;
}
.section--01 .section-wrap {
  margin: 0 auto;
  width: min(100%, 1000px);
}
.section--01 .section-contents .section-item + .section-item {
  margin-top: 40px;
}
/**
 * .gutter--01
 */
.gutter--01 {
  padding-left: 5vw;
  padding-right: 5vw;
}

/**
 * .title--01
 */
.title--01 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .title--01 {
    font-family: "Montserrat", sans-serif;
    font-size: max(32px, 8vw);
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
  }
}
/**
 * .sentence--01
 */
.sentence--01 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.6;
}
.sentence--01.sentence_fs_l {
  font-size: 28px;
  line-height: 1.2;
}
.sentence--01 p + p {
  margin-top: 28px;
}

@media screen and (max-width: 1024px) {
  .sentence--01 {
    font-size: 12px;
    line-height: 1.6;
  }
  .sentence--01.sentence_fs_l {
    font-size: 20px;
    line-height: 1.2;
  }
  .sentence--01 p + p {
    margin-top: 28px;
  }
}
/**
 * #section-1 .gridView 削除
 */
/*#section-1 {

  .gridView {

    &-wrap {
    }

    &-contents {
      display: flex;
      flex-flow: row wrap;
      margin: 0 0 -40vw -16vw;
      width: calc(100% + 16vw);

      & > * {
      }

      & > *:nth-child(3n + 1),
      & > *:nth-child(3n + 2),
      & > *:nth-child(3n + 3) {
        //border: 1px solid red;
        transform: translate(4vw, 0);
      }

      & > *:nth-child(6n + 1),
      & > *:nth-child(6n + 2),
      & > *:nth-child(6n + 3) {
        //border: 1px solid blue;
        transform: translate(-4vw, 0);
      }
    }

    &-item {
      margin: 0 0 40vw 16vw;
      width: calc(33.33% - 16vw);
    }
  }
}*//*# sourceMappingURL=style.css.map */